<html>
  <head>
    <title>Brain Mesh View</title>
  </head>
  <body>
    <script src="static/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="static/js/plugins/three.js"></script>
    <script src="static/js/plugins/OrbitControls.js"></script>
    <script src="static/js/index.js"></script>
    <h1>here</h1>
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadingLabel">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-body text-center">
                  <div class="loader"></div>
                  <div clas="loader-txt">
                  <p>Reading mesh into 3d object...<br></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</html>
