<html>
  <head>
    <title>Brain Mesh View</title>
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="static/css/app.css" />
  </head>
  <body>
    <script src="static/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="static/js/plugins/three.js"></script>
    <script src="static/js/plugins/OrbitControls.js"></script>
    <script src="static/js/plugins/bootstrap.min.js"></script>
    <script src="static/js/index.js"></script>
    <div class="select">
        <select id="alpha">
            {% for id in config['plane_ids'] %}
                <option value="{{id}}">{{ id }}</option>
            {% endfor %}
        </select>
        <select id="theta">
            {% for id in config['plane_ids'] %}
                <option value="{{id}}">{{ id }}</option>
            {% endfor %}
        </select>
        <button class="plane-bttn">Get Plane</button>
    </div>
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadingLabel">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-body text-center">
                  <div class="loader"></div>
                  <div clas="loader-txt">
                  <p>Reading mesh into 3d object...<br></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</html>
